@charset "utf-8";

/* htmlタグ用スタイル */
/* ---------------------------------------------------------------------------------- */
body {
	/*background-color: #EEFFFF;*/
	background-color: #F0F8FF;
	font-family: "ＭＳ ゴシック", Verdana, Arial, sans-serif;
	color: #000000;
	font-size: 12px;
}


a {
	color: #3366FF;
	text-decoration: none;
}

input[type="submit"], input[type="reset"], input[type="button"] {
	padding: 0 2px;
	height: 22px;
}

input, select {
	font-family: "ＭＳ ゴシック", Verdana, Arial, sans-serif;
	font-size: 12px;
}


/* ---------------------------------------------------------------------------------- */


/* 共通スタイル */
/* ---------------------------------------------------------------------------------- */
/* container */
#container {
	background-color: #FFFFFF;
	margin: 0 auto;
	width: 800px;
}

/* header */
#my_header {
	background-color: #FFFFFF;
	height: 38px;
	width: 800px;
}
/* ---------------------------------------------------------------------------------- */
/*center*/
#my_center {
	width: 800px;

	/*border-top: 8px solid #000080;*/
	border-top: 10px solid #FFFFFF;
	/*border-bottom: 3px solid #0072BC;*/
	/*border: 2px solid #66CCFF;*/
}

/* ---------------------------------------------------------------------------------- */
/* footer */
#my_footer {
	/*background-color: #0072BC;*/
	background: url("../images/web/bottom_banner.gif") no-repeat scroll;
	width: 800px;
	color: #FFFFFF;
	clear: both;
	padding: 10px 0;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

#my_footer p a { color: #FFFFFF; }
#my_footer p a:link, #my_footer p a:visited { text-decoration: none; }
#my_footer p a:hover, #my_footer p a:active { text-decoration: underline; }

#my_footer #copyright { margin-top: 5px; }



/* header_navigation */
#header_navigation {
	margin: 0 auto 20px;
	/*background-color: #66CCFF;*/
	height: 0px;
	width: 800px;
}

#header_navigation li {
	display: inline;
}

#header_navigation li img {
	display: block;
	float: left;
	height: 35px;
	width: 153px;

}

#header_navigation li span {
	display: block;
	float: left;
	height: 15px;
	width: 10px;
	font-size: 10px;
	padding-top: 8px;
}

#header_navigation li a {
	display: block;
	float: left;
	height: 15px;
	width: 150px;
	font-size: 10px;
	padding-top: 8px;

	/*border-left: 1px solid #330099;*/
	border-right: 1px solid #800000;
	border-bottom: 1px solid #800000;


	overflow: hidden;
}

#header_navi_regist a:link, #header_navi_regist a:visited { background-color:#000000; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; }
#header_navi_regist a:hover, #header_navi_regist a:active { background-color:#CC0000; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; }
#header_navi_regist span.no_effect { background-color:#000000; color: #FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; }

#header_navi_contact a:link, #header_navi_contact a:visited { background-color:#696969; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; }
#header_navi_contact a:hover, #header_navi_contact a:active { background-color:#CC0000; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; }
#header_navi_contact span.no_effect { background-color:#696969; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; }




/* menu_navigation */
#my_navigation {
	margin: 0 auto 20px;
	padding-top: 2px;
	/*background-color: #66CCFF;*/
	height: 40px;
	width: 800px;
}

#my_navigation li {
	display: inline;
}

#my_navigation li a, #my_navigation li span {
	display: block;
	float: left;
	height: 40px;
	width: 160px;
	font-size: 14px;
	padding-top: 5px;
	overflow: hidden;
}


#navi_top a:link, #navi_top a:visited { background: url("../images/web/menu_banner.gif") no-repeat scroll; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; }
#navi_top a:hover, #navi_top a:active { background: url("../images/web/menu_banner_2.gif") no-repeat scroll; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; font-size: 16px; }
#navi_top span.no_effect { background: url("../images/web/menu_banner.gif") no-repeat scroll; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; }

#navi_client a:link, #navi_client a:visited { background: url("../images/web/menu_banner.gif") no-repeat scroll; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; }
#navi_client a:hover, #navi_client a:active { background: url("../images/web/menu_banner_2.gif") no-repeat scroll; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; font-size: 16px; }
#navi_client span.no_effect { background: url("../images/web/menu_banner.gif") no-repeat scroll; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; }

#navi_media a:link, #navi_media a:visited { background: url("../images/web/menu_banner.gif") no-repeat scroll; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; }
#navi_media a:hover, #navi_media a:active { background: url("../images/web/menu_banner_2.gif") no-repeat scroll; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; font-size: 16px; }
#navi_media span.no_effect { background: url("../images/web/menu_banner.gif") no-repeat scroll; color:#FFFFFF; text-align:center; }

#navi_regist a:link, #navi_regist a:visited { background: url("../images/web/menu_banner.gif") no-repeat scroll; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; }
#navi_regist a:hover, #navi_regist a:active { background: url("../images/web/menu_banner_2.gif") no-repeat scroll; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; font-size: 16px; }
#navi_regist span.no_effect { background: url("../images/web/menu_banner.gif") no-repeat scroll; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; }

#navi_glossary a:link, #navi_glossary a:visited { background: url("../images/web/menu_banner.gif") no-repeat scroll; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; }
#navi_glossary a:hover, #navi_glossary a:active { background: url("../images/web/menu_banner_2.gif") no-repeat scroll; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; font-size: 16px; }
#navi_glossary span.no_effect { background: url("../images/web/menu_banner.gif") no-repeat scroll; color:#FFFFFF; text-align:center; }

#navi_faq a:link, #navi_faq a:visited { background: url("../images/web/menu_banner.gif") no-repeat scroll; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; }
#navi_faq a:hover, #navi_faq a:active { background: url("../images/web/menu_banner_2.gif") no-repeat scroll; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; font-size: 16px; }
#navi_faq span.no_effect { background: url("../images/web/menu_banner.gif") no-repeat scroll; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; }

#navi_contact a:link, #navi_contact a:visited { background: url("../images/web/menu_banner.gif") no-repeat scroll; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; }
#navi_contact a:hover, #navi_contact a:active { background: url("../images/web/menu_banner_2.gif") no-repeat scroll; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; font-size: 16px; }
#navi_contact span.no_effect { background: url("../images/web/menu_banner.gif") no-repeat scroll; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; }


/*
#navi_top a:link, #navi_top a:visited { background-color:#000080; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; }
#navi_top a:hover, #navi_top a:active { background-color:#ffffff; color:#000080; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; font-size: 18px; }
#navi_top span.no_effect { background-color:#000080; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; }

#navi_client a:link, #navi_client a:visited { background-color:#000080; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; }
#navi_client a:hover, #navi_client a:active { background-color:#ffffff; color:#000080; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; font-size: 18px; }
#navi_client span.no_effect { background-color:#000080; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; }

#navi_media a:link, #navi_media a:visited { background-color:#000080; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; }
#navi_media a:hover, #navi_media a:active { background-color:#ffffff; color:#000080; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; font-size: 18px; }
#navi_media span.no_effect { background-color:#000080; color:#FFFFFF; text-align:center; }

#navi_regist a:link, #navi_regist a:visited { background-color:#000080; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; }
#navi_regist a:hover, #navi_regist a:active { background-color:#ffffff; color:#000080; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; font-size: 18px; }
#navi_regist span.no_effect { background-color:#000080; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; }

#navi_glossary a:link, #navi_glossary a:visited { background-color:#000080; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; }
#navi_glossary a:hover, #navi_glossary a:active { background-color:#ffffff; color:#000080; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; font-size: 18px; }
#navi_glossary span.no_effect { background-color:#000080; color:#FFFFFF; text-align:center; }

#navi_faq a:link, #navi_faq a:visited { background-color:#000080; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; }
#navi_faq a:hover, #navi_faq a:active { background-color:#ffffff; color:#000080; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; font-size: 18px; }
#navi_faq span.no_effect { background-color:#000080; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; }

#navi_contact a:link, #navi_contact a:visited { background-color:#000080; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; }
#navi_contact a:hover, #navi_contact a:active { background-color:#ffffff; color:#000080; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; font-size: 18px; }
#navi_contact span.no_effect { background-color:#000080; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; }
*/

/* contents */
#side_contents {
	/*float: left;"C:/Documents and Settings/ADMIN/デスクトップ/あどぼんど/リンクエッジ_AF-EDGE/af-edge/css/web_top.css"*/
	float: right;
	/*padding-left: 10px;*/
	margin-right: 10px;
	width: 200px;
}

#main_contents {
	/*margin-left: 260px;*/
	margin-right: 260px;
}

/* ---------------------------------------------------------------------------------- */

/* メディア様ログイン クライアント様ログイン
/* login_box スタイル */
/* ---------------------------------------------------------------------------------- */
#login_box {
	width: 200px;
}

#login_box table {
	/*border-top: 1px solid #FF0033;*/
	/*border-left: 1px solid #FF0033;*/
	font-size: 12px;
	margin-bottom: 10px;
	width: 100%;
}

#login_box th, #login_box td {
	/*border-right: 1px solid #FF0033;*/
	/*border-bottom: 1px solid #FF0033;*/
	padding: 5px;
	vertical-align: middle;
}

#login_box #media_login table {
	background-color: #FFCCFF;
	border-left: 1px solid #FF3399;
	border-right: 1px solid #FF3399;
	border-bottom: 1px solid #FF3399;
}

#login_box #client_login table {
	background-color: #CCFFFF;
	border-left: 1px solid #3333FF;
	border-right: 1px solid #3333FF;
	border-bottom: 1px solid #3333FF;
}

#login_box input[type="text"], #login_box input[type="password"] {
	width: 118px;
}

#login_box .login_btn {
	text-align: center;
}
/* ---------------------------------------------------------------------------------- */

/* Adbondとは */
/* message_box スタイル */
/* ---------------------------------------------------------------------------------- */
#message_box {
	/*width: 100%;*/
	margin: 0 auto 0 10px;
}
/* ---------------------------------------------------------------------------------- */


/* 新着広告 */
/* new_advert スタイル */
/* ---------------------------------------------------------------------------------- */
#new_advert_box {
	float: left;
	width: 250px;
	margin: 10px 10px 10px;
}

#new_advert_header p {
	border-left: 2px solid #330099;
	border-bottom: 2px solid #330099;
	background-color: #FFFFFF;
	font-family: "メイリオ", Meiryo, sans-serif;
	color: #42426F;
	padding: 4px;
	width: 250px;
}

#all_banner a:link, #all_banner a:visited { background: url("../images/web/all_banner.gif") no-repeat scroll; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; border: 1px solid #F5FFFA; width: 60px; height: 14px; }
#all_banner a:hover, #all_banner a:active { background: url("../images/web/all_banner_2.gif") no-repeat scroll; color:#FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; border: 1px solid #F5FFFA; width: 60px; height: 14px; }
#all_banner span.no_effect { background: url("../images/web/all_banner.gif") no-repeat scroll; color: #FFFFFF; text-align:center; font-family: "メイリオ", Meiryo, sans-serif; border: 1px solid #F5FFFA; width: 60px; height: 14px; }

#side_contents_header p {
	border-left: 2px solid #330099;
	border-bottom: 2px solid #330099;
	background-color: #FFFFFF;
	font-family: "メイリオ", Meiryo, sans-serif;
	color: #42426F;
	padding: 4px;
}

#new_advert_list {
	border-left: 1px solid #330099;
	border-right: 1px solid #330099;
	border-bottom: 1px solid #330099;
	height: 120px;
	overflow: auto;
}

#new_advert_list #coming_soon {
	padding-top: 50px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}
/* ---------------------------------------------------------------------------------- */



/* 利用規約ページ */
/* ---------------------------------------------------------------------------------- */
#kiyaku h2 {
	margin-bottom: 2em;
}

#kiyaku h3 {
	color: #330066;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 1em;
}

#kiyaku .article_headline {
	padding-left: 1em;
	margin-bottom: 1em;
}
#kiyaku .article_text {
	line-height: 1.2em;
	padding: 0 2em;
	margin-bottom: 2em;
}
/* ---------------------------------------------------------------------------------- */



/* 追加分 */
.img_center {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #FFFFFF;
}
.padding {
	padding-bottom: 10px;
	line-height: 120%;
}
#content_iti {
	padding-right: 20px;
	font-size: small;
	color: #666666;
}
.right {
	text-align: right;
	padding-bottom: 10px;
}


.faq {
	padding-left: 10px;
	padding-bottom: 10px;
	line-height: 140%;
}
.faq dt {
	color: #333333;
	display: block;
	background-color: #CCFFFF;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.faq dd {
	color: #FF4B9C;
	display: block;
	padding-left: 20px;
	padding-right: 10px;
}
.totop {
	text-align: right;
}
#form1 {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: x-small;
	line-height: 300%;
}

.thanks {
	width: 400px;
	margin-right: auto;
	margin-left: auto;
	padding: 30px;
	line-height: 160%;
}
#line {
	background-image: url(../images/web/line.jpg);
	background-repeat: repeat-x;
}
