@charset "utf-8";

/* htmlタグ用スタイル */
/* ---------------------------------------------------------------------------------- */
body {
	font-family: "ＭＳ ゴシック", Verdana, Arial, sans-serif;
	color: #000000;
}

a { color: #3366FF; }

table {
	border-top: 1px solid #FF007F;
	border-left: 1px solid #FF007F;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	font-size: 12px;
	margin-bottom: 10px;
}

th, td {
	border-right: 1px solid #FF007F;
	border-bottom: 1px solid #FF007F;
	padding: 5px;
	vertical-align: middle;
}

th p, td p {
	line-height: 16px;
}

input[type="submit"], input[type="reset"], input[type="button"] {
	padding: 0 2px;
}

input, select {
	font-family: "ＭＳ ゴシック", Verdana, Arial, sans-serif;
	font-size: 12px;
}


/* ---------------------------------------------------------------------------------- */


/* 共通スタイル */
/* ---------------------------------------------------------------------------------- */
/* container */
#container {
	width: 100%;
}

/* header */
#my_header {
	background-color: #FF007F;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding: 10px;
}


/* footer */
#my_footer {
	background-color: #FF007F;
	border-top: 1px solid #FF007F;
	border-bottom: 1px solid #FF007F;
	color: #FFFFFF;
	clear: both;
	font-family: "メイリオ", Meiryo, sans-serif;
	font-size: 10px;
	padding: 10px;
	text-align: center;
}

/* contents */
#my_contents {
	margin-left: 180px;
	padding-left: 10px;
}

#my_contents h2 {
	border-bottom: 1px solid #FF007F;
	font-size: 16px;
	margin-bottom: 5px;
	padding-top: 10px;
	color: #FF007F;
	font-weight: bold;
}

#message {
	/*height: 24px;*/
	margin-bottom: 2px;
}

#info_message{
	border: 1px solid #90AC13;
	background: #EEF4D3 url(../images/icon-green.png) 8px 4px no-repeat;
	color: #6B800D;
	font-size: 12px;
	font-weight: bold;
	line-height: 13px;
	padding: 4px;
	padding-left: 25px;
}

#error_message{
	border: 1px solid #CC0000;
	background: #F7CBCA url(../images/icon-red.png) 8px 4px no-repeat;
	color: #CC0000;
	font-size: 12px;
	font-weight: bold;
	line-height: 13px;
	padding: 4px;
	padding-left: 25px;
}

#th_title{
	color: #FFFFFF;
	background-color: #FF7FBF;
}

/* ---------------------------------------------------------------------------------- */


/* loginボックススタイル */
/* ---------------------------------------------------------------------------------- */
#login {
	margin: 0 auto;
	padding-top: 20px;
	width:220px;
}

#login input[type="text"], #login input[type="password"] {
	width: 120px;
}

#login-btn {
	text-align: center;
}
/* ---------------------------------------------------------------------------------- */

/* navigationススタイル */
/* ---------------------------------------------------------------------------------- */
#my_navigation {
	background-color: #FF7FBF;
	font-size: 12px;
	float: left;
	line-height: 140%;
	width:180px;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

#my_navigation2 {
	background-color: #ADD8E6;
	font-size: 12px;
	float: left;
	line-height: 140%;
	width:180px;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
#my_navigation p {
	color: #FFFFFF;
	text-align: center;
	padding: 5px;
	font-weight: bold;
}

#my_navigation h4 {
	color: #FFFFFF;
	padding-left: 10px;
	font-weight: bold;
}

#my_navigation ul {
	padding-left: 24px;
	padding-bottom: 10px;
}

#my_navigation li {
}

#my_navigation a {
	color: #FFFFFF;
}

#my_navigation2 h4 {
	color: #FFFFFF;
	padding-left: 10px;
	font-weight: bold;
}

#my_navigation2 ul {
	padding-left: 24px;
	padding-bottom: 10px;
}

#my_navigation2 li {
}

#my_navigation2 p {
	color: #FFFFFF;
	text-align: center;
	padding: 5px;
	font-weight: bold;
}

#my_navigation2 a {
	color: #FFFFFF;
}

/*#my_navigation a:hover {
	margin-left: -1px;
	font-weight: bold;
}*/
/* ---------------------------------------------------------------------------------- */



#new_advert_box {
	float: left;
	width: 250px;
	margin: 10px 10px 10px;
}

#new_advert_header p {
	border-left: 2px solid #330099;
	border-bottom: 2px solid #330099;
	background-color: #FFFFFF;
	font-family: "メイリオ", Meiryo, sans-serif;
	color: #42426F;
	padding: 4px;
	width: 250px;
}









































