@charset "utf-8";

/* htmlタグ用スタイル */
/* ---------------------------------------------------------------------------------- */
body {
	font-family: "ＭＳ ゴシック", Verdana, Arial, sans-serif;
	color: #000000;
}

a { color: #3366FF; }

table {
	border-top: 1px solid #3366FF;
	border-left: 1px solid #3366FF;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	font-size: 12px;
	margin-bottom: 10px;
}

th, td {
	border-right: 1px solid #3366FF;
	border-bottom: 1px solid #3366FF;
	padding: 5px;
	vertical-align: middle;
}

input[type="submit"], input[type="reset"], input[type="button"] {
	padding: 0 2px;
}

input, select {
	font-family: "ＭＳ ゴシック", Verdana, Arial, sans-serif;
	font-size: 12px;
}


/* ---------------------------------------------------------------------------------- */


/* 共通スタイル */
/* ---------------------------------------------------------------------------------- */
/* container */
#container {
	width: 100%;
}

/* header */
#my_header {
	background-color: #3366FF;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding: 10px;
}

/* footer */
#my_footer {
	border-top: 1px solid #3366FF;
	border-bottom: 1px solid #3366FF;
	color: #3366FF;
	clear: both;
	font-family: "メイリオ", Meiryo, sans-serif;
	font-size: 10px;
	padding: 10px;
	text-align: center;
}

/* contents */
#my_contents {
	margin-left: 180px;
	padding-left: 10px;
}

#my_contents h2 {
	border-bottom: 1px solid #000000;
	font-size: 16px;
	margin-bottom: 5px;
	padding-top: 10px;
}

#message {
	/*height: 24px;*/
	margin-bottom: 2px;
}

#info_message{
	border: 1px solid #90AC13;
	background: #EEF4D3 url(../images/icon-green.png) 8px 4px no-repeat;
	color: #6B800D;
	font-size: 12px;
	font-weight: bold;
	line-height: 13px;
	padding: 4px;
	padding-left: 25px;
}

#error_message{
	border: 1px solid #CC0000;
	background: #F7CBCA url(../images/icon-red.png) 8px 4px no-repeat;
	color: #CC0000;
	font-size: 12px;
	font-weight: bold;
	line-height: 13px;
	padding: 4px;
	padding-left: 25px;
}


/* ---------------------------------------------------------------------------------- */


/* loginボックススタイル */
/* ---------------------------------------------------------------------------------- */
#login {
	margin: 0 auto;
	padding-top: 20px;
	width:220px;
}

#login input[type="text"], #login input[type="password"] {
	width: 120px;
}

#login-btn {
	text-align: center;
}
/* ---------------------------------------------------------------------------------- */

/* navigationススタイル */
/* ---------------------------------------------------------------------------------- */
#my_navigation {
	border-right: 1px solid #3366FF;
	border-bottom: 1px solid #3366FF;
	font-size: 12px;
	float: left;
	line-height: 140%;
	width:180px;
}

#my_navigation p {
	text-align: center;
	padding: 5px;
}

#my_navigation h4 {
	padding-left: 10px;
	font-weight: normal;
}

#my_navigation ul {
	padding-left: 24px;
	padding-bottom: 10px;
}

#my_navigation li {
}

#my_navigation a {
	color: #3366FF;
}

/*#my_navigation a:hover {
	margin-left: -1px;
	font-weight: bold;
}*/
/* ---------------------------------------------------------------------------------- */












































