<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=EUC-JP">
<title>User Info</title>
</head>
<body>
 
<p>ユーザー情報：</p>
名前：{$name}<br>
URL: <a href="{$url}">{$url}</a><br>
日付：{$smarty.now|date_format:"%Y年%m月%d日"}<br>
 
</body>
</html>


