<div id="my_footer">
	<p>
		<a href="/">TOP</a> |
		<a href="./client.php">クライアント</a> |
		<a href="./media.php">メディア</a> |
		<span>よくある質問</span> |
		<a href="./kiyaku.php">利用規約</a> |
		<a href="./contact.php">お問い合わせ</a> |
		<a href="http://www.laugh-and-peace.net/">運営会社</a>
		<!-- <a href="">クライアント</a> | -->
		<!-- <a href="">メディア</a> | -->
		<!-- <a href="">よくある質問</a> | -->
		<!-- <a href="">利用規約</a> | -->
		<!-- <a href="./contact.php">お問い合わせ</a> | -->
		<!-- <a href="">運営会社</a> -->
	</p>
	<p>Copyright 2010 <a href="http://www.laugh-and-peace.net/" target="_blank" style="color:#FFF;">株式会社laugh&amp;peace</a> Inc. All Rights Reserved. Ver.2.0</p>
</div><!-- footer -->

</div><!-- container -->
</div>
</body>
</html>