{include file='./header_web.tpl' page_title='TOP'}

{include file='./menu.tpl'}
<br />

<div id="side_contents">
	{include file='./side_contents.tpl'}
</div><!-- side_contents -->

<div id="main_contents">
	<div id="message_box">
		<img src="./images/web/header_title_2.gif" width="100%" height="138" alt="Adbond!!" />
		<!-- <p><img src="./images/web/about_adbond.jpg" width="280" height="32" alt="Adbond!!とは" /></p> -->
		<!-- <p><img src="./images/web/bond.jpg" width="380" height="200" alt="【bond】とは絆のこと。インターネットというお互い顔が見えない業界だからこそ大切にしたい人と人との『絆』。弊社ADbond!!はクライアント様とメディア様をつなぐ絆でありたい。そう思っております。" /></p> -->
	</div>



<!-- おすすめ広告 ---------------------------------------------------------------------  -->

	<div id="new_advert_box">
		<div id="new_advert_header">
			<p><b>おすすめ広告</b></p>
		</div>

		<br />

		{foreach from=$attention_str item=DATA}

					<!-- <img src="{$images_dir_path|cat:$DATA.images_url}" style="float: left;" /> -->
					<img src="{$images_dir_path|cat:$DATA.ms_image_url}" />
					<br />
					{$DATA.advert_name}
					<br />
					{$DATA.ms_text}
					<br />
					<hr style="border-top: 2px dotted #c0c0c0" width="100%" />


		{/foreach}

	</div>



<!-- 新着情報 -------------------------------------------------------------------------  -->
	<div id="new_advert_box">
		<div id="new_advert_header">
			<p><b>新着広告</b></p>
		</div>

		<br />

		<div id="all_banner" >
			<a href="./all_advert.php" ><img src="./images/web/all_banner_3.gif" alt="ALL" /></a>
		</div>

		<br />

			 {foreach from=$coming_str item=STR}
				<img src="./images/web/arrow.gif"" />

				　{$STR.created_date}

				　{$STR.advert_name}
				<br />
				<hr style="border-top: 2px dotted #c0c0c0" />
			{/foreach}
	</div>



</div><!-- main_contents -->

{include file='./hooter_web.tpl'}
