{include file='./header_web.tpl' page_title='TOP'}
{include file='./menu.tpl'}

<div id="side_contents">
{include file='./side_contents.tpl'}
</div><!-- side_contents -->

<div id="main_contents">
	<p>ログインIDまたはログインパスワードが違います。</p>
</div><!-- main_contents -->

{include file='./hooter_web.tpl'}