
<div id="my_navigation">

	<ul>
		<li>
			<a href="./report.php">
			<img src="../images/media_images/media_report_data_button.gif" width="98" height="52" />
			</a>
		</li>

		<li>
			<a href="./search_test.php">
			<img src="../images/media_images/media_advert_search_button.gif" width="98" height="52" />
			</a>
		</li>

		<li>
			<a href="./info.php">
			<img src="../images/media_images/media_users_data_button.gif" width="98" height="52" />
			</a>
		</li>
	</ul>

</div>
