<div id="my_navigation">

	<p><a href="../index.php?media_logout=y">ログアウト</a></p>
	<p>{$user_name|htmlspecialchars:$smarty.const.ENT_QUOTES}</p>
	<h4 alt="2">■メディア管理</h4>
	<ul>
		<li>
			<a href="./report.php">
			<img src="../images/media_images/media_report_data_button.gif" />
			</a>
		</li>

		<li>
			<a href="./search.php">
			<img src="../images/media_images/media_advert_search_button.gif" />
			</a>
		</li>

		<li>
			<a href="./info.php">
			<img src="../images/media_images/media_users_data_button.gif" />
			</a>
		</li>
	</ul>
</div>
