<div id="my_navigation">

	<p><a href="../index.php?media_logout=y">ログアウト</a></p>
	<p>{$user_name|htmlspecialchars:$smarty.const.ENT_QUOTES}</p>
	<h4 alt="2">■クライアント管理</h4>
	<ul>
		<li><a href="./report.php">レポート</a></li>
		<li><a href="./search.php">提携サイト</a></li>
		<li><a href="./advert_setup.php">広告設定</a></li>
		<li><a href="./info.php">登録情報</a></li>
	</ul>
</div>
