{include file='docomo/header.tpl'}
<!-- ﾍｯﾀﾞ画像ここから -->
<div align="center">
	<img src="../image_data/title_image_02.jpg" alt="タイトル画像" />
</div>
<!-- ﾍｯﾀﾞ画像ここまで -->
<table width="100%" bgcolor="#000000" boder="0" cellpadding="0" cellspacing="0">
<tr>
<td>
<font size="-2" color="#ffcc00">
◆ 殿堂入りとは？
</font>
</td>
</tr>
</table>
<br />

<font size="-3">阪神ﾀｲｶﾞｰｽ検定で、上級ｸﾗｽまたは超難問ｸﾗｽを９５点以上を５回獲得したとき、「殿堂入り」として登録されます。<br /><br />
「殿堂入り」したとき、「阪神ﾀｲｶﾞｰｽ検定 殿堂入り ﾃﾞｼﾞﾀﾙ認定証」を発行致します。
</font>

<!-- フッター -->
{include file='docomo/hooter.tpl'}
